html, body {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
a {
    color: #222;
    text-decoration: none;
}
header {
    background-color: blueviolet;
    border-bottom: 3px solid #222;
    margin-bottom: 10px;
}
.container_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.item_menu {
    text-align: center;
    width: 150px;
}
.item_menu > .link-login-in:hover, .link-sign-up:hover {
    color: white;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container_category {
    width: 30%;
    height: 400px;
    max-height: 400px;
    text-align: center;
}
.container_category > .category {
    margin-left: 8px;
    width: 95%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.category > .title-category {
    height: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.category > .category_link {
    margin-top: 15px;
    height: 30px;
}
.container_posts {
    width: 69%;
}
.container_posts > .posts {
    text-align: center;
    width: 100%;
    height: 400px;
}
.posts > .wrapper-post {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    min-height: 400px;
    height: 400px;
    margin-bottom: 5px;
}

/* style of Posts text */
.posts-title {
    height: 10%;
    font-size: 28px;
}
.posts-text {
    height: 75%;
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}
.date-published {
    margin-left: 20px;
    text-align: left;
}
