<div class="container_category">
    <div class="category">
        <div class="title-category">
            <p class="p-category">Категории</p>
        </div>
        {% for category in Category %}
        <div class="category_link">
                <a href="{{ category.get_absolute_url }}">{{ category.category }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="container_side-bar">
        <div class="wrapper_side-bar">
            <div class="main">
                Различные ресурсы
            </div>
            {% for resources in Resources %}
            <ul>
                <li><a href="#">{{ resources.title }}</a></li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>