{% extends 'base.html' %}
{% load home_tags %}
{% block content %}
<section class="main">
           <div class="container_post">
               <div class="post">
                   {% for Post in Posts %}
                   <div class="wrapper-post">
                       <div class="post-title">
                           <p>
                               <a href="{{ Post.get_absolute_url }}">
                                   {{ Post.title }}
                                </a>
                            </p>
                       </div>
                       <div class="post-text">
                           {{ Post.text|safe }}
                       </div>
                       <div class="date-published">
                           <p>Автор: {{ Post.author }} || Дата создания: {{ Post.create_date }}</p>
                       </div>
                   </div>
               </div>
           </div>
   </section>
   <section>
    <div class="comments">
        <div class="wrapper-comments">
                <a href="{% url 'view_comment' Post.pk %}">
                    <h3 class="comment-answer" style="text-align: center;" >
                        Ответить на пост
                    </h3>
                </a>
        </div>
    </div>
    {% endfor %}
        <div class="comments">
            {% if user.is_authenticated %}
                {% for comment in Comments %}
                <div class="wrapper-comments">
                        <p class="comment-name"><span>Ответил: </span>{{ comment.name }}</p>
                        <p class="comment-answer">{{ comment.text }}</p>
                        <span class="date-answer">{{ comment.create_date }}</span>
                </div>
                {% endfor %}
            {% else %}
                <p>Комментарии</p>
                <a href="{% url 'login' %}">
                    <p style="text-decoration: underline;">Для просмотра необходимо авторизоваться</p>
                </a>
            {% endif %}
        </div>
   </section>
{% endblock content %}