<header>
    <div class="menu">
        <div class="container_menu">
            <div class="item_menu"><a href="{% url 'home_page' %}">Home</a></div>
            <div class="item_menu"><a href="#">Posts</a></div>
            <div class="item_menu"><a href="#">New</a></div>
            <div class="item_menu"><a href="#">Hot</a></div>
            <div class="item_menu"><a href="#">Popular</a></div>
            <!-- Временно -->
            {% if not user.is_authenticated %}
            <div class="item_menu"><a href="{% url 'login' %}">Login In</a></div>
            <div class="item_menu"><a href="{% url 'signup' %}">Signup</a></div>
            {% else %}
            <div class="item_menu"><a href="{% url 'logout' %}">Logout</a></div>
            {% endif %}
        </div>
    </div>
</header>